/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #13AA9A;
    --secondary-color: #222C4A;
    --white-color: #FFFFFF;
  }
  