<div class="container mx-auto px-4 mt-10">
  <app-breadcrumb
    [steps]="steps"
    [currentStep]="currentStep"
    (stepClicked)="goToStep($event)"
  ></app-breadcrumb>
  <ng-container [ngSwitch]="currentStep">
    <app-step-one *ngSwitchCase="4" (next)="onNextStep($event)"></app-step-one>
    <app-step-two
      *ngSwitchCase="1"
      (next)="finish()"
      (previous)="goToPrevious()"
    ></app-step-two>
    <app-step-three
      *ngSwitchCase="2"
      (next)="finish()"
      (previous)="goToPrevious()"
    ></app-step-three>
    <div *ngSwitchCase="0">
      <p>Information du représantant legal</p>
      <table class="table-auto">
        <thead>
          <tr>
            <th>nom</th>
            <th>Prénom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ formData.stepOne.beneficiaryLastName }}</td>
            <td>{{ formData.stepOne.beneficiaryFirstName }}</td>
          </tr>
        </tbody>
      </table>
      <button>modify</button>
      <p>Information du représantant legal</p>
      <table class="table-auto">
        <thead>
          <tr>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ formData.stepTwo.defunctFirstName }}</td>
            <td>{{ formData.stepTwo.defunctLastName }}</td>
            <td>{{ formData.stepTwo.defunctBirthdate }}</td>
            <td>{{ formData.stepTwo.defunctClientNumber }}</td>
          </tr>
        </tbody>
      </table>
      <button>modify</button>
      <p>Information du représantant legal</p>
      <table class="table-auto">
        <thead>
          <tr>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
            <th>nom</th>
            <th>Prénom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ formData.stepThree.personalLastName }}</td>
            <td>{{ formData.stepThree.personalUsualName }}</td>
            <td>{{ formData.stepThree.personalFirstName }}</td>
            <td>{{ formData.stepThree.personalBirthDate }}</td>
            <td>{{ formData.stepThree.personalBirthCity }}</td>
            <td>{{ formData.stepThree.personalBirthCountry }}</td>
            <td>{{ formData.stepThree.homeAddress }}</td>
            <td>{{ formData.stepThree.homeAdditionalAddress }}</td>
            <td>{{ formData.stepThree.homeZIP }}</td>
            <td>{{ formData.stepThree.homeCity }}</td>
            <td>{{ formData.stepThree.homeCountry }}</td>
          </tr>
        </tbody>
      </table>
      <button>modify</button>
      <!-- <h2>Formulaire Terminé !</h2>
      <pre>{{ formData | json }}</pre>
      <button (click)="restart()">Recommencer</button> -->
    </div>
  </ng-container>
  <pre
    class="absolute top-44 right-44 shadow bg-lime-400 bg-opacity-50 rounded p-3"
    >{{ formData | json }}</pre
  >
</div>
