<div class="container mx-auto px-4 mt-10">
  <div class="mb-4 font-semibold flex gap-4">
    <button
      class="pr-2 pl-1 py-1 text-4xl border-2 shadow-lg border-primary-brand text-primary-brand rounded-full hover:bg-secondary-brand hover:text-white hover:border-secondary-brand">
      <svg class="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"
        stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="30 36 18 24 30 12"></polyline>
      </svg>
    </button>
    <div>
      <h2 class="uppercase text-2xl">
        {{ getTranslation('FORM_STEP_1_TITLE') }}
      </h2>
      <h3 class="text-xl">{{ getTranslation('FORM_STEP_1_SUBTITLE') }}</h3>
    </div>
  </div>
  <app-progress-bar [currentStep]="1" [totalSteps]="5"></app-progress-bar>

  <p class="mb-3 text-2xl font-semibold">
    {{ getTranslation('FORM_STEP_1_TEXT_1') }}
  </p>
  <p class="mb-3">{{ getTranslation('FORM_STEP_1_TEXT_2') }}</p>

  <form [formGroup]="form" (ngSubmit)="onNext()" class="flex flex-col">
    <label class="flex flex-col md:w-full lg:w-1/2 font-semibold">
      {{ getTranslation('FORM_STEP_1_LASTNAME_INPUT_LABEL') }}
      <div class="flex w-full relative">
        <input formControlName="beneficiaryLastName"
          placeholder="{{getTranslation('FORM_STEP_1_LASTNAME_INPUT_PLACEHOLDER')}}" 
          [ngClass]="{'text-red-500 border-red-500 focus-visible:border-red-500 focus-visible:outline focus-visible:outline-red-500'
        : form.get('beneficiaryLastName')?.invalid && (form.get('beneficiaryLastName')?.dirty || form.get('beneficiaryLastName')?.touched), 
          'border-green-600 focus-visible:border-green-600 focus-visible:outline focus-visible:outline-green-600'
        : form.get('beneficiaryLastName')?.valid && (form.get('beneficiaryLastName')?.dirty || form.get('beneficiaryLastName')?.touched),
          'border rounded-lg border-black mt-3 mb-1 p-3 w-full font-normal': true}" />
        <app-check-icon
          *ngIf="form.get('beneficiaryLastName')?.valid && (form.get('beneficiaryLastName')?.dirty || form.get('beneficiaryLastName')?.touched)"
          class="absolute h-6 right-4 top-6" />
      </div>
    </label>
    <div class="h-6">
      <div
        *ngIf="form.get('beneficiaryLastName')?.invalid && (form.get('beneficiaryLastName')?.dirty || form.get('beneficiaryLastName')?.touched)"
        class="text-red-500 mb-2">
        <small *ngIf="form.get('beneficiaryLastName')?.errors?.['required']">
          {{ getTranslation('FORM_REQUIRED_ERROR')}}
        </small>
        <small *ngIf="form.get('beneficiaryLastName')?.errors?.['maxlength']">
          {{getTranslation('FORM_MAXLENGTH_ERROR') }}
        </small>
        <small *ngIf="form.get('beneficiaryLastName')?.errors?.['pattern']">
          {{ getTranslation('FORM_PATTERN_ERROR')}}
        </small>
      </div>
    </div>
    <label class="flex flex-col md:w-full lg:w-1/2 font-semibold">
      {{ getTranslation('FORM_STEP_1_FIRSTNAME_INPUT_LABEL') }}
      <div class="flex w-full relative">
      <input formControlName="beneficiaryFirstName"
        placeholder="{{getTranslation('FORM_STEP_1_FIRSTNAME_INPUT_PLACEHOLDER')}}"
        [ngClass]="{'text-red-500 border-red-500 focus-visible:border-red-500 focus-visible:outline focus-visible:outline-red-500'
        : form.get('beneficiaryFirstName')?.invalid && (form.get('beneficiaryFirstName')?.dirty || form.get('beneficiaryFirstName')?.touched), 
          'border-green-600 focus-visible:border-green-600 focus-visible:outline focus-visible:outline-green-600'
        : form.get('beneficiaryFirstName')?.valid && (form.get('beneficiaryFirstName')?.dirty || form.get('beneficiaryFirstName')?.touched),
         'border rounded-lg border-black mt-3 p-3 w-full font-normal': true}" />
        <app-check-icon
        *ngIf="form.get('beneficiaryFirstName')?.valid && (form.get('beneficiaryFirstName')?.dirty || form.get('beneficiaryFirstName')?.touched)"
        class="absolute h-6 right-4 top-6" />
      </div>
    </label>
    <div class="h-8">
      <div
        *ngIf="form.get('beneficiaryFirstName')?.invalid && (form.get('beneficiaryFirstName')?.dirty || form.get('beneficiaryFirstName')?.touched)"
        class="text-red-500 mb-2 max">
        <small *ngIf="form.get('beneficiaryFirstName')?.errors?.['required']">
          {{ getTranslation('FORM_REQUIRED_ERROR')}}
        </small>
        <small *ngIf="form.get('beneficiaryFirstName')?.errors?.['maxlength']">
          {{getTranslation('FORM_MAXLENGTH_ERROR') }}
        </small>
        <small *ngIf="form.get('beneficiaryFirstName')?.errors?.['pattern']">
          {{ getTranslation('FORM_PATTERN_ERROR')}}
        </small>
      </div>
    </div>
    <div class="flex justify-end mt-48">
      <button type="submit"
        class="py-3 px-6 mr-44 mb-4 w-fit 
        bg-primary-brand text-white shadow-md font-bold rounded-3xl 
        hover:scale-105 hover:bg-secondary-brand hover:cursor-pointer 
        disabled:bg-opacity-50 disabled:hover:scale-100 disabled:hover:bg-opacity-50 disabled:hover:bg-primary-brand disabled:hover:cursor-not-allowed"
        [disabled]="form.invalid">
        {{ getTranslation('FORM_STEP_1_CONTINUE_BUTTON') }}
      </button>
    </div>
  </form>
</div>