<div class=" container mx-auto px-4 mt-20">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4 ">
        <div>
            <div class="mb-4 font-semibold flex gap-4">
                <button
                    class="pb-2 pr-4 pl-3 pt-0 text-4xl border-2 shadow-lg border-primary-brand text-primary-brand rounded-full hover:bg-secondary-brand hover:text-white hover:border-secondary-brand">
                    < </button>
                        <div>
                            <h2 class="uppercase text-2xl">{{ getTranslation('ABOUT_TITLE') }}</h2>
                            <h3 class="text-xl">{{ getTranslation('ABOUT_SUBTITLE') }}</h3>
                        </div>
            </div>
            <p class="mb-3">{{ getTranslation('ABOUT_TEXT_1') }}</p>
            <p class="mb-3">{{ getTranslation('ABOUT_TEXT_2') }}</p>
            <p class="mb-3">{{ getTranslation('ABOUT_TEXT_3') }}</p>
        </div>
        <div><img src="" alt=""></div>
    </div>
    <div class="mb-64">
        <p class="text-lg font-semibold">{{ getTranslation('ABOUT_FOLLOWING_STEPS') }}</p>
        <ul class="flex row font-semibold gap-10">
            <li><span class="text-4xl p-3">1</span>{{ getTranslation('ABOUT_STEP_1') }}</li>
            <li><span class="text-4xl p-3">2</span>{{ getTranslation('ABOUT_STEP_2') }}</li>
            <li><span class="text-4xl p-3">3</span>{{ getTranslation('ABOUT_STEP_3') }}</li>
        </ul>
    </div>
    <div class="flex justify-end">
        <button
            class="py-3 px-6 mr-44 mb-10 bg-primary-brand text-white shadow-md font-bold rounded-3xl  hover:scale-105 hover:bg-secondary-brand">
            {{ getTranslation('ABOUT_START_BUTTON') }}
        </button>
    </div>
    <p class="text-gray-600"> {{ getTranslation('ABOUT_LEGAL_DETAILS') }}</p>
</div>